{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Photo Mosaic</title>
    {%block stylesheet%} {%endblock%}
</head>

<body>
	<header>
		<div class="header-content">
        	<img src="{% static 'projects/logo.png' %}" alt="logo"/>
            <span class="site-title">Photo mosaic</span>
        </div>
    </header>
    <div class="main">
		<div class="main-nav">
			<nav>
				<ul class="main-menu">
					<li class="main-menu"><a href="{% url 'index' %}">Home</a></li>
					<li class="main-menu"><a href="{% url 'hot' %}">Hot</a></li>
					<li class="main-menu"><a href="{% url 'trending' %}">Trending</a></li>
					<li class="main-menu"><a href="{% url 'new' %}">New</a></li>
					{%block user%} {% endblock %}
				</ul>
			</nav>
		</div>
        <div class="main-content">
        	<div class="search">
            	<form>
                	<input class="search-query" type="text"/>
                    <p>Advanced search</p>
                    <label><input type="checkbox" />Completed projects</label>
                    <label><input type="checkbox"/>Funded projects</label>
                    <label><input type="checkbox"/>Option 3</label>
                    <label><input type="checkbox"/>Option 4</label>
                    <label><input type="range" min="0" max="10000"/>Minimum</label>
                    <label><input type="range" min="0" max="10000"/>Maximum</label>               
			   </form>
            </div>
			{%block content%} {% endblock %}
			<div class="third-column"> </div>
		</div>
    </div>
	<footer>
		<div class="social-media">
			<a href="https://www.facebook.com">[FB]</a>
			<a href="https://www.twitter.com">[TW]</a>
		</div>
	</footer>
</body>
</html>
