{% extends "projects/base.html" %}
{% load static from staticfiles %}
{% block stylesheet %}	
	<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />
{% endblock %}
{% block user %}
	<li class ="main-menu account-links"><a href="{% url 'login_user' %}">Login</a></li>
	<li class ="main-menu account-links"><a href="{% url 'register' %}">Register</a></li>
{% endblock %}

{% block content %}
<div class="login">
	<h1> Login </h1>
	<form name="LoginForm" action="{% url 'login_user' %}" method="post">
	{% csrf_token %}
		{% if next %}
			<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		<label>Username: </label><input type="text" id="username" name="username" placeholder="Username">
		<label>Password: </label><input type="password" id="password" name="password" placeholder="Password">
		<button type="submit" class="submitbutton">Login</button>
		{% if message %}
			<p>{{message}}</p>
		{% endif %}
	</form>
</div>
{% endblock %}